<!DOCTYPE html>
<html lang="ru">
<div th:replace="~{fragments/head_fragment :: head(pageTitle='Личный кабинет')}"></div>
<body>
<div class="container-fluid">
    <div class="container">
        <br>
        <div class="row">
            <div class="col">
            </div>
            <div th:replace="~{fragments/profile_button_fragment :: profileButton}"></div>
        </div>
    </div>
    <hr>
    <div class="container mt-5">
        <div class="row">
            <div class="col justify-content-start align-items-center"></div>
            <div class="col justify-content-start align-items-center"
                 style="border-style: solid; border-color: blue; padding: 20px">
                <h5>Ваше имя:</h5>
                <p class="fw-normal fs-6" th:text="${user.surname + ' ' + user.name}"></p>
                <h5>Имя пользователя:</h5>
                <p class="fw-normal fs-6" th:text="${user.username}"></p>
                <h5>Почта:</h5>
                <p class="fw-normal fs-6" th:text="${user.email}"></p>
                <h5>Номер телефона:</h5>
                <p class="fw-normal fs-6" th:text="${user.phone}"></p>
            </div>
            <div class="col justify-content-start align-items-center"></div>
        </div>
    </div>
</div>

<th:block th:replace="~{/fragments/script_fragment :: scripts}"></th:block>
</body>
</html>